<div class="panel panel-default">
    <form>
        <div class="form-group">
            <label for="et">Entry Title:</label>
            <input type="text" class="form-control" id="et" placeholder="Put your title here." ng-model="entryTitle">
            Entry Body:
            <textarea rows="10" class="form-control" id="eb" cols="30" placeholder="Put your content here." ng-model="entryBody">
            </textarea>
        </div>
        <input type="submit" class="form-control" ng-click="submitPost()">
    </form>
</div>